<div class="col-md-12">
    <div class="col-md-8 pull-left">
        <h3>The Need To Know</h3>
        <span>The plan: exchange vows on the beach with everyone who is able to join us. After the ceremony (25 minutes max in the sun, we promise) we’re headed to one of the resort bars or restaurants (TBD, obvi) opening a tab, and it’s open bar/ food for our people who want to party with us! (AKA, tear it up!) </span>
        <br>
        <h3> How to get there</h3>
        <b> Please be sure to double check everything before you buy - dates / number of passengers might be off on the actual site. 
        Also note, this only works with travel originating in US airports.</b>
        <div class="col-md-12">
            <div class="col-md-3">
                <input type="text" ng-model="selectedAirport" placeholder="Airport" uib-typeahead="airport as '(' + airport.code + ') ' + airport.city for airport in airportFilter(airports, $viewValue)"
                class="form-control" typeahead-show-hint="true" typeahead-min-length="0">
            </div>
            <div class="col-md-3">
                <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="shortDate" ng-model="depart" is-open="popup1.opened" min-date="minDate"
                    max-date="maxDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"
                    />
                    <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
                </p>
            </div>
            <div class="col-md-3">
                <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="shortDate" ng-model="return" is-open="popup2.opened" min-date="minDate"
                    max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true"
                    close-text="Close" />
                    <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
                </p>
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control" placeholder="# of Passengers" ng-model="numberOfPassengers" aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-11 pull-right">
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <img src="assets/images/southwest.jpg" width="45px">
                            </td>
                            <td>
                                <a ng-href="{{southwestUrl()}}">Southwest</a>
                            </td>
                            <td>
                                NOTE * Los Angeles - Fly out of (SMA) Santa Ana, Chicago - Fly out of (MDW) Midway
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="assets/images/kayak.jpg" width="45px">
                            </td>
                            <td>
                                <a ng-href="{{kayakUrl()}}">Kayak</a>
                            </td>
                            <td>
                                Pretty good resource for flights.
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br>
            </div>
        </div>
        <div class="col-md-12">
            <h3> Where to stay </h3>
            <p>
                Good news: we were able to get great rates on rooms at the all-inclusive resort In PV where we will be getting married. Less
                fortunate news: for us to get such a good rate, we had to work through a 3rd party team that had to settle
                for travel agency jobs instead of writing code for rockets. Ipso facto, in order to get to these all-inclusive
                rooms, you have to sign up on their tacky website (our most sincere apologies [for all you computer peeps—yes,
                Kyle tried to strip the URLS and make it work without signup and YES he altered their URL so that you would
                not have to put in the “word of mouth password” and NO he didn’t have time to re-write their shit for them…NO
                DDOSing them will not help solve anything])… However…the rooms and the rates are BOOMTASTIC!  Seriously…all inclusive…infinity pools…views of the pacific coast…amazing service...
            </p>
            <p>…on a related note, if you contact Meagan or Kyle directly, we can help get you set up!  We have the inside track!</p>
        </div>
        <div class="col-md-12">
            <div class="col-md-11 pull-right">
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <img src="assets/images/now_amber_logo.jpg" width="45px">
                            </td>
                            <td style="width:80px">
                                <a href="http://www.destinationweddings.com/Weddings/Guests/AttendaWedding.aspx?dw_weddingcode=WEAREGETTINGMARRIED&dw_bname=Wall">Amber Secrets</a>
                            </td>
                            <td>
                                This will bring you to our travel agent to get an all-incluse room at the restort! Think infinity pools to your room, all you can drink, amazing spa.
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="assets/images/casa_salinas_i.jpg" width="45px">
                            </td>
                            <td>
                                <a href="http://www.casasalinas-vallarta.com/villas/casa-salinas-i/">Casa Salinas I</a>
                            </td>
                            <td>
                                Get the villa right next door! (Min 14, Max 18)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="assets/images/villa_logo.jpg" width="45px">
                            </td>
                            <td>
                                <a href="http://www.luxuryretreats.com/North-America/Mexico/Puerto-Vallarta/">Get yo' own villa!</a>
                            </td>
                            <td>
                                Are you coming with a bunch of friends? There might be a villa for that! There’s one next door to the villa where we and the immediate family are staying and other options to fit your group needs. (NOTE: most villas require a minimum of 10 guests/5 filled rooms.)
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br>
            </div>
        </div>
    </div>
    <div class="col-md-4 pull-right">
        <img src="assets/images/meagan_kyle_ocean.jpg" class="pull-right" width="400px">
    </div>
</div>