<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarCtrl">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">Meagan & Kyle</a>
    </div>
    <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
            <a ng-href="{{item.link}}">{{item.title}}</a>
        </li>
        <li>
            <a href="/party/msy"> New Orleans </a>
        </li>
      </ul>
      <form class="nav navbar-nav navbar-right form-inline" name="frm">
          <button ng-show="!showWelcomeText()" ng-disabled="frm.email.$pristine || frm.email.$dirty && frm.email.$invalid" type="button" class="btn btn-default" ng-click="saveEmail()">Stay Informed!</button>
          <div ng-show="!showWelcomeText()" class="form-group">
            <input type="text" name="email" class="form-control" placeholder="Email Address" ng-pattern="pattern" ng-model="email" ng-keyup="saveEmail($event, frm.email)">
          </div>
          <div ng-show="!showWelcomeText()" class="form-group">    
              <input type="text" class="form-control" placeholder="Your Name" ng-model="name" ng-keyup="saveEmail($event, frm.email)">   
          </div>
          <span ng-show="showWelcomeText()" ng-bind="welcomeText"> </span>
      </form>
    </div>
  </div>
</div>
