<div class="col-md-12">
	<div class="container col-md-3">
		<form>
			<div class="form-group">
				<label for="nameInput">Name</label>
				<input type="text" class="form-control" id="nameInput" placeholder="First Last">
			</div>
			<div class="form-group">
				<label for="exampleInputEmail1">Email address</label>
				<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
			</div>
			<div class="form-group">
				<label for="numGuests">Additional Guests</label>
				<div class="input-group">
					<input type="text" class="form-control" style="width: 80px" placeholder="0" aria-describedby="basic-addon2">
					<span class="input-group-addon" id="basic-addon2">Add</span>
				</div>
			</div>
			<table ng-if="guestCount > 0">
				<thead>
					<th>
						Guest
					</th>
				</thead>
				<tbody>
					<tr ng-repeat="guest in guests">
						<td>
							<input type="text" class="form-control" placeholder="Guest Name" ng-bind="guest">
						</td>
					</tr>
				</tbody>
			</table>
			<div class="checkbox" ng-repeat="party in parties">
				<label>
					<input type="checkbox"><span ng-bind="party.displayName"></span>
				</label>
			</div>
			<button type="submit" class="btn btn-default">Submit</button>
		</form>
	</div>
</div>